:root {
  --accent-text-color: #2196f3;
  --primary-text-color: #212121;
  --hero-text-color: #ffffff;
  --secondary-text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --primary-background-color: #ffffff;
  --accent-background-color: #2196f3;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.btn-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-title {
  display: none;
}
.work-item {
  display: flex;
}

button {
  display: block;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  text-decoration: none;
  text-align: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

button:hover,
button:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-background-color);
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
}

.work-item {
  text-decoration: none;
}

.work-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.examples-item:hover,
.examples-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples.link:hover .product-overlay,
.examples.link:focus .product-overlay {
  transform: translateY(0);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;

  transform: translateY(100%);
  transition: transform var(--transition), opacity var(--transition);
}

.example-description {
  display: block;
  position: absolute;
  font-size: 18px;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  color: var(--hero-text-color);
  padding: 63px 24px;
  margin: 0;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.examples-item:hover .portfolio-image::before {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-container {
  padding: 20px 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.examples-item {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  transition: box-shadow var(--transition);
}

.examples-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-title {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.examples-item {
  display: inline-block;
}

.examples-item:nth-child(3n) {
  margin-right: 0;
}
